import /init.recovery.project.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    write /sys/module/app_watchdog/parameters/enabled 0
    write /sys/module/watchdog/parameters/enabled 0

    # Symlink bootdevice to satisfy OrangeFox scripts
    mkdir /dev/block/bootdevice 0755 root system
    symlink /dev/block/platform/soc/11270000.ufshci/by-name /dev/block/bootdevice/by-name

on fs
    wait /dev/block/by-name/metadata
    mount ext4 /dev/block/by-name/metadata /metadata

    # Create the graphics nodes immediately for DRM
    mkdir /dev/graphics 0755 root graphics
    mkdir /dev/dri 0755 root graphics
    symlink /dev/dri/card0 /dev/graphics/fb0
    # Jolt the display buffer
    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb1/blank 0

    # Load Touch and Platform Modules
 (Order is important)
    insmod /lib/modules/pinctrl-mtk-v2.ko
    insmod /lib/modules/pinctrl-mt6789.ko
    insmod /lib/modules/clk-common.ko
    insmod /lib/modules/clk-mt6789.ko
    insmod /lib/modules/i2c-mt65xx.ko
    insmod /lib/modules/spi-mt65xx.ko
    insmod /lib/modules/tp_nt36xxx.ko
    insmod /lib/modules/mtk-kpd.ko
    
    # Create the graphics nodes immediately for DRM
    mkdir /dev/graphics 0755 root graphics
    mkdir /dev/dri 0755 root graphics
    symlink /dev/dri/card0 /dev/graphics/fb0
    # Jolt the display buffer
    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb1/blank 0

on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    # Fix backlight
    write /sys/class/leds/lcd-backlight/brightness 128
    # Touchscreen Fix: Ensure input services are active
    start health-hal-2-1
    # Force ADB on boot
    setprop sys.usb.config adb
    setprop sys.usb.state adb
    start adbd

# MTK USB ConfigFS logic
on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/UDC "musb-hdrc"
